.App {
  text-align: center;
  overflow: "hidden";
}

.App-logo {
  height: 76.5vmin;
  pointer-events: none;
}

.App-logo-menubar {
  height: 5%;
}

.App-header {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1, h2 {
  display: inline;
}